.App {
  box-sizing: border-box;
  padding: 0
}


.hero-legend{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white(90, 110, 153);
}