body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.table {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.block {
  padding: 30px;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}

.middle {
  border-style: solid;
  border-width: 3px 0 3px 0;
}

.column2 {
  border-style: solid;
  border-width: 0 3px 0 3px;
}
